@{
   ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1 class="text-4xl">Welcome</h1>
   <p>This is a demo application for learning how to work with <a href="https://github.com/mvdmio/Hotwire.NET" target="_blank">mvdmio.Hotwire.NET</a>.</p>
   <p>Hotwire Documentation: <a href="https://hotwired.dev/" class="link" target="_blank">Hotwire</a>.</p>
</div>

<div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-8 gap-4">
   <a href="/example/turbo-frames" class="link example-link">Turbo Frames</a>
</div>