<turbo-frame id="content">
   <p>
      Check the network tab to see that no full-page reload was done.
      Instead, a call was done to the
      <code>content</code> route on the
      <code>TurboFramesController</code> that responded with just the contents of the
      <code>turbo-frame</code> on the page. Turbo replaced that frame with the new content without modifying the rest of the page.
   </p>
</turbo-frame>