@{
   ViewData["Title"] = "Turbo Frame Example";
}

<div class="flex flex-col gap-4">
   <div>
      <h1>Turbo Frame Example</h1>
      <p>This page shows how to use turbo-frames. Click the button below to load some content in the frame.</p>
      
      <a href="example/turbo-frames/content" class="button primary" data-turbo-frame="content">Click me!</a>
   </div>

   <div class="border border-2 border-dashed p-4 min-h-8 border-gray-900">
      <turbo-frame id="content">
         Turbo Frame Content that will be replaced.
      </turbo-frame>
   </div>

</div>

