@page "/example/turbo-streams"
@model Index
@{
   ViewData["Title"] = "Turbo Frame Example";
}

<div class="flex flex-col gap-4">
   <div>
      <h1>Turbo Stream Example</h1>
      <p>This page shows how to use turbo-streams. Click the button below to replace the content using turbo streams.</p>

      <form method="post">
         <button type="submit" class="button primary">Click me!</button>
      </form>

   </div>

   <div id="content" class="border border-2 border-dashed border-gray-900 min-h-8 p-4">
      Content that will be replaced by the Turbo Stream.
   </div>

</div>

